<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>新規作成＜group＞</h3>
        <%= render 'groups/from', group: @group %>
  </div>
</div>