<p id="test">jQueryでーーーーーす</p>
<p class="hoge">色を変えまーーーーーーーす</p>

<!--タブ機能-->
<div class="tab-panel">
  <!--タブ-->
  <ul class="tab-group">
    <li class="tab tab-A is-active">Tab-A</li>
    <li class="tab tab-B">Tab-B</li>
    <li class="tab tab-C">Tab-C</li>
 </ul>

  <!--タブを切り替えて表示するコンテンツ-->
  <div class="panel-group">
    <div class="panel tab-A is-show">Content-A</div>
    <div class="panel tab-B">Content-B</div>
    <div class="panel tab-C">Content-C</div>
  </div>
</div>



<h2>
  <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
</h2>

<%= react_component('Film') %>

<!--投稿-->
<%= link_to "一覧へ", lists_path %>
