// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body
{
	color: white;
	background-color: black;
}

div#time_frame
{
	width: 100%;
}

span
{
	display: block;
	float: right;
	width: 85%;
	font-family: 'Oleo Script Swash Caps', cursive;
}

span#time_date
{
	text-align: right;
	font-size: 0.5em;
	padding-right: 0.5em;
}

span#time_time
{
	font-size: 2em;
}